# Environment variables
#
__NFS_VOLUME__=${__JENKINS_NFS_DATA__}
__NFS_REMOTE_HOST__=${__NFS_REMOTE_HOST_URL__}
__LOCAL_DIRECTORY__=${__LOCAL_NFS_NT_DIRECTORY__}

# Git configuration
GIT_AUTHOR_EMAIL=${__GIT_AUTHOR_EMAIL__}
GIT_AUTHOR_NAME=${__GIT_AUTHOR_NAME__}
GIT_BRANCH=${__GIT_BRANCH__}
GIT_COMMIT=${__GIT_COMMIT__}
GIT_COMMITTER_EMAIL=${__GIT_COMMITTER_EMAIL__}
GIT_COMMITTER_NAME=${__GIT_COMMITTER_NAME__}
GIT_PREVIOUS_COMMIT=${__GIT_PREVIOUS_COMMIT__}
GIT_URL=${__GIT_URL__}